In [1]:
import numpy as np
import pandas as pd

In [3]:
# creating a timestamp
timestamp = pd.Timestamp('2023-10-01 12:00:00')
print(timestamp)
print(type(timestamp))

2023-10-01 12:00:00
<class 'pandas._libs.tslibs.timestamps.Timestamp'>

In [13]:
# Flexibility in timestamp creation
print(pd.Timestamp('2025,10,01'))
print(pd.Timestamp('2025/10/01'))
print(pd.Timestamp('21st Nov 2025 9:21 PM'))
print(pd.Timestamp('21 12 2025'))
print(pd.Timestamp('2025'))

2025-01-01 00:00:00
2025-10-01 00:00:00
2025-11-21 21:21:00
2025-12-21 00:00:00
2025-01-01 00:00:00

In [37]:
# using datetime.datetime
import datetime as dt

dt.datetime(2025, 10, 1, 12, 34, 45)

datetime.datetime(2025, 10, 1, 12, 34, 45)

In [39]:
# we can use datetime.datetime to create a timestamp
stamp = pd.Timestamp(dt.datetime(2025, 10, 1, 12, 34, 45))
stamp

Timestamp('2025-10-01 12:34:45')

In [40]:
print(stamp.year, stamp.month, stamp.day, stamp.hour, stamp.minute, stamp.second , sep = '\n')

2025
10
1
12
34
45

**`Datetime index`**
- Bunch of Timestamps

In [41]:
dt_index = pd.DatetimeIndex(['29-10-25', '30-10-25', '31-10-25'])

In [42]:
dt_index[0]

Timestamp('2025-10-29 00:00:00')

In [43]:
# datetime index using datetime module
pd.DatetimeIndex([dt.datetime(2025, 10, 29), dt.datetime(2025, 10, 30), dt.datetime(2025, 10, 31)])

DatetimeIndex(['2025-10-29', '2025-10-30', '2025-10-31'], dtype='datetime64[ns]', freq=None)

In [44]:
pd.DatetimeIndex([pd.Timestamp(2025, 10, 29), pd.Timestamp(2025, 10, 30), pd.Timestamp(2025, 10, 31)])

DatetimeIndex(['2025-10-29', '2025-10-30', '2025-10-31'], dtype='datetime64[ns]', freq=None)

In [45]:
dt_index

DatetimeIndex(['2025-10-29', '2025-10-30', '2025-10-31'], dtype='datetime64[ns]', freq=None)

In [46]:
# using DatetimeIndex as index in a Series/Dataframe
s = pd.Series([1, 2, 3], index=dt_index)
print(s)

2025-10-29    1
2025-10-30    2
2025-10-31    3
dtype: int64

**`date_range function`**
- Generates a range of timestamps based on the input parameters.

In [57]:
pd.date_range(start='2025-06-01', end='2025-06-30')

DatetimeIndex(['2025-06-01', '2025-06-02', '2025-06-03', '2025-06-04',
               '2025-06-05', '2025-06-06', '2025-06-07', '2025-06-08',
               '2025-06-09', '2025-06-10', '2025-06-11', '2025-06-12',
               '2025-06-13', '2025-06-14', '2025-06-15', '2025-06-16',
               '2025-06-17', '2025-06-18', '2025-06-19', '2025-06-20',
               '2025-06-21', '2025-06-22', '2025-06-23', '2025-06-24',
               '2025-06-25', '2025-06-26', '2025-06-27', '2025-06-28',
               '2025-06-29', '2025-06-30'],
              dtype='datetime64[ns]', freq='D')

In [79]:
# periods parameter
pd.date_range(start='2025-06-01', periods = 15)

DatetimeIndex(['2025-06-01', '2025-06-02', '2025-06-03', '2025-06-04',
               '2025-06-05', '2025-06-06', '2025-06-07', '2025-06-08',
               '2025-06-09', '2025-06-10', '2025-06-11', '2025-06-12',
               '2025-06-13', '2025-06-14', '2025-06-15'],
              dtype='datetime64[ns]', freq='D')

In [80]:
pd.date_range(start='2025-06-01', periods = 5)

DatetimeIndex(['2025-06-01', '2025-06-02', '2025-06-03', '2025-06-04',
               '2025-06-05'],
              dtype='datetime64[ns]', freq='D')

**`freq parameter`**

In [58]:
# frequency in date_range
pd.date_range(start='2025-06-01', end='2025-06-30', freq='2D')

DatetimeIndex(['2025-06-01', '2025-06-03', '2025-06-05', '2025-06-07',
               '2025-06-09', '2025-06-11', '2025-06-13', '2025-06-15',
               '2025-06-17', '2025-06-19', '2025-06-21', '2025-06-23',
               '2025-06-25', '2025-06-27', '2025-06-29'],
              dtype='datetime64[ns]', freq='2D')

In [59]:
pd.date_range(start='2025-06-01', end='2025-06-30', freq='3D')

DatetimeIndex(['2025-06-01', '2025-06-04', '2025-06-07', '2025-06-10',
               '2025-06-13', '2025-06-16', '2025-06-19', '2025-06-22',
               '2025-06-25', '2025-06-28'],
              dtype='datetime64[ns]', freq='3D')

In [61]:
# Bussiness days frequency
pd.date_range(start='2025-06-01', end='2025-06-30', freq='B')

DatetimeIndex(['2025-06-02', '2025-06-03', '2025-06-04', '2025-06-05',
               '2025-06-06', '2025-06-09', '2025-06-10', '2025-06-11',
               '2025-06-12', '2025-06-13', '2025-06-16', '2025-06-17',
               '2025-06-18', '2025-06-19', '2025-06-20', '2025-06-23',
               '2025-06-24', '2025-06-25', '2025-06-26', '2025-06-27',
               '2025-06-30'],
              dtype='datetime64[ns]', freq='B')

In [63]:
# freq = 'W-DAY' --> grabs the specified day in each week
pd.date_range(start='2025-06-01', end='2025-06-30', freq='W-MON')
pd.date_range(start='2025-06-01', end='2025-06-30', freq='W-THU')

DatetimeIndex(['2025-06-05', '2025-06-12', '2025-06-19', '2025-06-26'], dtype='datetime64[ns]', freq='W-THU')

In [ ]:
# nh --> Hourly dates
pd.date_range(start='2025-06-01', end='2025-06-5', freq='5h')

DatetimeIndex(['2025-06-01 00:00:00', '2025-06-01 05:00:00',
               '2025-06-01 10:00:00', '2025-06-01 15:00:00',
               '2025-06-01 20:00:00', '2025-06-02 01:00:00',
               '2025-06-02 06:00:00', '2025-06-02 11:00:00',
               '2025-06-02 16:00:00', '2025-06-02 21:00:00',
               '2025-06-03 02:00:00', '2025-06-03 07:00:00',
               '2025-06-03 12:00:00', '2025-06-03 17:00:00',
               '2025-06-03 22:00:00', '2025-06-04 03:00:00',
               '2025-06-04 08:00:00', '2025-06-04 13:00:00',
               '2025-06-04 18:00:00', '2025-06-04 23:00:00'],
              dtype='datetime64[ns]', freq='5h')

In [ ]:
# ME --> Month end frequency
pd.date_range(start='2025-06-01', end='2025-12-30', freq='ME')

DatetimeIndex(['2025-06-30', '2025-07-31', '2025-08-31', '2025-09-30',
               '2025-10-31', '2025-11-30'],
              dtype='datetime64[ns]', freq='ME')

In [ ]:
# MS --> Month start frequency
pd.date_range(start='2025-06-01', end='2025-12-30', freq='MS')

DatetimeIndex(['2025-06-01', '2025-07-01', '2025-08-01', '2025-09-01',
               '2025-10-01', '2025-11-01', '2025-12-01'],
              dtype='datetime64[ns]', freq='MS')

In [77]:
# YE --> year end
pd.date_range(start='2025-06-01', end='2030-12-30', freq='YE')

DatetimeIndex(['2025-12-31', '2026-12-31', '2027-12-31', '2028-12-31',
               '2029-12-31'],
              dtype='datetime64[ns]', freq='YE-DEC')

In [ ]:
# YS --> year end
pd.date_range(start='2025-06-01', end='2030-12-30', freq='YS')

DatetimeIndex(['2026-01-01', '2027-01-01', '2028-01-01', '2029-01-01',
               '2030-01-01'],
              dtype='datetime64[ns]', freq='YS-JAN')

In [85]:
pd.date_range(start='2025-06-01', periods = 15, freq = '6h')

DatetimeIndex(['2025-06-01 00:00:00', '2025-06-01 06:00:00',
               '2025-06-01 12:00:00', '2025-06-01 18:00:00',
               '2025-06-02 00:00:00', '2025-06-02 06:00:00',
               '2025-06-02 12:00:00', '2025-06-02 18:00:00',
               '2025-06-03 00:00:00', '2025-06-03 06:00:00',
               '2025-06-03 12:00:00', '2025-06-03 18:00:00',
               '2025-06-04 00:00:00', '2025-06-04 06:00:00',
               '2025-06-04 12:00:00'],
              dtype='datetime64[ns]', freq='6h')

**`pd.to_datetime()`**

In [93]:
s = pd.Series(['2025-06-02', '2025-06-03', '2025-06-04', '2025-06-05','2025-06-06', '2025-06-09', '2025-06-10'])
type(s)

pandas.core.series.Series

In [ ]:
pd.to_datetime(s)

In [96]:
pd.to_datetime(s).dt.day

0     2
1     3
2     4
3     5
4     6
5     9
6    10
dtype: int32