## `Pandas`
`Pandas` is a powerful, open-source Python library used for:

- Data manipulation

- Data analysis

- Cleaning and transforming structured data (like CSV, Excel, SQL, etc.)

- It is built on top of `NumPy` and is widely used in data science, AI, and machine learning.

In [2]:
import pandas as pd
import numpy as np

### `Series:`
- A 1-dimensional labeled array (like a single column in Excel)

- Can hold any data type (int, float, string, etc.)

#### `Series from List`

In [3]:
# creating a pandas series using list of strings

names = ['Ali', 'John', 'Bob', 'Max', 'Jak', 'Alex']
print(names)
pd.Series(names)

['Ali', 'John', 'Bob', 'Max', 'Jak', 'Alex']

0     Ali
1    John
2     Bob
3     Max
4     Jak
5    Alex
dtype: object

In [4]:
salary = [700, 650, 1000, 1200, 300, 500]
pd.Series(salary)

0     700
1     650
2    1000
3    1200
4     300
5     500
dtype: int64

In [5]:
# Custom indices
salary = [700, 650, 1000, 1200, 300, 500]
names = ['Ali', 'John', 'Bob', 'Max', 'Jak', 'Alex']

emp_salary = pd.Series(salary, index = names, name = 'Salary of all Employes')
emp_salary

Ali      700
John     650
Bob     1000
Max     1200
Jak      300
Alex     500
Name: Salary of all Employes, dtype: int64

#### `Series from dict`

In [6]:
salary = {
    'Alex' : 2300,
    'Ben' : 2000,
    'Charlie' : 1200,
    'David' : 1500,
    'John' : 3000
}
salary

{'Alex': 2300, 'Ben': 2000, 'Charlie': 1200, 'David': 1500, 'John': 3000}

In [14]:
salary_series = pd.Series(salary, name = "Employee Salaries")
salary_series

Alex       2300
Ben        2000
Charlie    1200
David      1500
John       3000
Name: Employee Salaries, dtype: int64

#### `Series Attributes`

In [15]:
salary_series

Alex       2300
Ben        2000
Charlie    1200
David      1500
John       3000
Name: Employee Salaries, dtype: int64

In [16]:
#size (no: of items)
salary_series.size

5

In [ ]:
# dtype
salary_series.dtype

dtype('int64')

In [ ]:
# name
salary_series.name

'Employee Salaries'

In [ ]:
# is_unique
print(salary_series.is_unique)
print(pd.Series([10,20,30,40,20,50,30]).is_unique)

True
False

In [ ]:
# index
salary_series.index

Index(['Alex', 'Ben', 'Charlie', 'David', 'John'], dtype='object')

In [30]:
names = ['Ali', 'John', 'Bob', 'Max', 'Jak', 'Alex']
names = pd.Series(names)
names.index

RangeIndex(start=0, stop=6, step=1)

In [33]:
# Values
salary_series.values

array([2300, 2000, 1200, 1500, 3000], dtype=int64)

#### `Series Using read_csv`